@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/montserrat-light/montserrat-light.eot');
  src: url('../fonts/montserrat-light/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-light/montserrat-light.woff') format('woff'),
       url('../fonts/montserrat-light/montserrat-light.ttf') format('truetype'),
       url('../fonts/montserrat-light/montserrat-light.svg#montserrat-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/montserrat-bold/montserrat-bold.eot');
	src: url('../fonts/montserrat-bold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-bold/montserrat-bold.woff') format('woff'),
	url('../fonts/montserrat-bold/montserrat-bold.ttf') format('truetype'),
	url('../fonts/montserrat-bold/montserrat-bold.svg#montserrat-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/open-sans-regular/open-sans-regular.eot');
	src: url('../fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/open-sans-regular/open-sans-regular.woff') format('woff'),
		 url('../fonts/open-sans-regular/open-sans-regular.ttf') format('truetype'),
		 url('../fonts/open-sans-regular/open-sans-regular.svg#open-sans-regular') format('svg');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/roboto-regular/roboto-regular.eot');
  src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
       url('../fonts/roboto-regular/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikBold';
  src: url('../fonts/rubik-bold/rubik-bold.eot');
  src: url('../fonts/rubik-bold/rubik-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/rubik-bold/rubik-bold.woff') format('woff'),
       url('../fonts/rubik-bold/rubik-bold.ttf') format('truetype'),
       url('../fonts/rubik-bold/rubik-bold.svg#rubik-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto-regular/roboto-regular.eot');
	src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
	url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
	url('../fonts/roboto-regular/roboto-regular.svg#roboto-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	/*background: url("../images/background.png");*/
	background-color: #f3f3f6;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'MontserratBold';
}

p {
	font-family: 'OpenSansRegular';
}



/* =========================================================================  */
.start-header {
	/*
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	*/
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	width: auto;
	display: block;
	/*filter: brightness(10%);*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #5a6e79 !important;
	font-weight: 500;
	transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #ffc178 !important;
	text-decoration: underline;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
	transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
	transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: transparent !important;
	/*background-color: #fff !important;
	transition: all 200ms linear;*/
}
.section {
	position: relative;
	width: 100%;
	display: block;
}
.full-height {
	height: 100vh;
}
.over-hide {
	overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
/*
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
	transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
*/
h1 span:nth-child(1){
	transition-delay: 1000ms;
}
h1 span:nth-child(2){
	transition-delay: 700ms;
}
h1 span:nth-child(3){
	transition-delay: 900ms;
}
h1 span:nth-child(4){
	transition-delay: 800ms;
}
h1 span:nth-child(5){
	transition-delay: 1000ms;
}
h1 span:nth-child(6){
	transition-delay: 700ms;
}
h1 span:nth-child(7){
	transition-delay: 900ms;
}
h1 span:nth-child(8){
	transition-delay: 800ms;
}
h1 span:nth-child(9){
	transition-delay: 600ms;
}
h1 span:nth-child(10){
	transition-delay: 700ms;
}
/*
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
*/
h1 span:nth-child(11){
	transition-delay: 1300ms;
}
h1 span:nth-child(12){
	transition-delay: 1500ms;
}
h1 span:nth-child(13){
	transition-delay: 1400ms;
}
h1 span:nth-child(14){
	transition-delay: 1200ms;
}
h1 span:nth-child(15){
	transition-delay: 1450ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #8167a9;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
	transition: all 300ms linear;
	transition-delay: 1900ms;
}
/*
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
	transition-delay: 1900ms;
}
*/
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #8167a9 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
	transform: translate3d(0, 10px, 0);
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	display: block;
	padding: 0;
	margin: 0;
	transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
	opacity: 1;
	visibility: visible;
	max-height: 999px;
	transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
	transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
	filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
	transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
	transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) {
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
	filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
	filter: brightness(100%);
}
/* =========================================================================  */





.header-area {

}




.top-nav ul li a {
	font-family: "OpenSansRegular";
	font-size: 16px;
	color: #5a6e79;
}

.top-nav ul li:active a {
	color: #ffc178 !important;
}

.top-nav ul li a.edumodo-menu-button {
	line-height: 31px;
	color: #FFF !important;
	background: #ffc178;
	padding: 10px 25px;
	border-radius: 100px;
}

.top-nav ul li a.edumodo-menu-button:hover {
	text-decoration: none;
}


.edumodo-banner-part {
	position: relative;
	background: url("../images/edumodo-header-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

.edumodo-banner-text-part {
	position: absolute;
	left: 0;
	margin-top: 30%;
	width: 100%;
}

.edumodo-banner-text-part h1 {
	color: #ffc178;
	font-size: 2.5rem;
	line-height: 3.5rem;
	text-align: left;
}

.edumodo-banner-text-part p {
	color: #5a6e79;
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
}

.banner-button-part {
	margin-top: 30px;
}

.edumodo-banner-text-part a.edumodo-banner-button {
	color: #FFF;
	padding: 10px 20px;
	background: #ffc178;
	margin-top: 200px;
	border-radius: 100px;
}

.edumodo-banner-text-part a.edumodo-banner-button:hover {
	text-decoration: none;
	background: #FACEA9;
}


/* Department Area Start */
section.department-part {
	margin-top: 20px;
}
.department-title {
	margin-bottom: 50px;
}
.department-title h2 {
	font-family: "OpenSansRegular";
	font-size: 40px;
	color: #252c3a;
	text-align: center;
}
.department-title p {
	font-family: "OpenSansRegular";
	font-size: 16px;
	color: #5a6e79;
	text-align: center;
	max-width: 50%;
	margin: 0px auto;
}
.online-education-web {
	background: #f9703a;
	text-align: center;
	padding: 50px 10px 60px 10px;
}
.online-education-web img {
	height: 250px;
	width: 250px;
}
.online-education-proramming {
	background: #80BE41;
	text-align: center;
	padding: 50px 10px 60px 10px;
}
.online-education-proramming img {
	height: 250px;
	width: 250px;
}
.online-education-graphic {
	background: #FFB157;
	text-align: center;
	padding: 50px 10px 60px 10px;
}
.online-education-graphic img {
	height: 250px;
	width: 250px;
}
.online-education-web h6, .online-education-proramming h6, .online-education-graphic h6 {
	color: #FFF;
	font-size: 30px;
	font-family: "OpenSansRegular";
	font-weight: bold;
}
/* Department Area End */


/* Limitless Learning Area Start */
.limitless-learning-part {
	margin-top: 50px;
}
.limitlest-video-part {
	background: url("../images/limitless-video-modal.png");
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 530px;
	height: 530px;
}
.limitless-video_button {
	left: 54%;
	margin-top: 40%;
	position: absolute;
	height: 70px;
	width: 70px;
	background: #ffc178;
	border-radius: 100px;
	border: none;
}
.limitless-video_button:focus {
	outline: none;
}
.limitless-video_button i {
	font-size: 20px;
	padding-left: 5px;
	color: #FFFFFF;
}
.limitless-learning-description {
	padding-top: 55px;
	padding-bottom: 10px;
}
.limitless-learning-description h2 {
	font-family: "MontserratBold";
	font-size: 40px;
	line-height: 56px;
	color: #252c3a;
	padding-bottom: 20px;
}
.limitless-learning-description p {
	font-family: "OpenSansRegular";
	font-size: 16px;
	line-height: 26px;
	color: #5a6e79;
	letter-spacing: 0.8px;

}
.students p {
	display: block;
	font-family: "MontserratBold";
	color: #ffba00;
	font-size: 40px;
}
.student-count {
	display: block;
	font-family: "MontserratBold";
	color: #ffba00;
	font-size: 20px;
	margin-top: -10px;
}
.courses p {
	display: block;
	font-family: "MontserratBold";
	color: #ff5f72;
	font-size: 40px;
}
.courses-count {
	display: block;
	font-family: "MontserratBold";
	color: #ff5f72;
	font-size: 20px;
	margin-top: -10px;
}
.hours-video p {
	display: block;
	font-family: "MontserratBold";
	color: #43cb83;
	font-size: 40px;
}
.hours-video-count {
	display: block;
	font-family: "MontserratBold";
	color: #43cb83;
	font-size: 20px;
	margin-top: -10px;
}
/* Limitless Learning Area End */


/* Around The University Area Start */
.around-the-university-part {
	margin-top: 100px;
}
.university-subjects-one {
	padding-bottom: 40px;
}
.around-the-university-part h2 {
	text-align: center;
	padding-bottom: 80px;
}
.photoshop, .all-course {
	background-color: #FFFFFF;
}
.photoshop img, .all-course img {
	display: block;
	width: 100%;
	height: auto;
}
.photoshop p {
	font-family: "OpenSansRegular";
	font-size: 16px;
	color: #ffc178;
	font-weight: 800;
	margin-bottom: 0px;
	padding: 10px 0px 0px 10px;
	display: block;
}
.all-course p {
	font-family: "OpenSansRegular";
	font-size: 16px;
	color: #252c3a;
	font-weight: 800;
	margin-bottom: 0px;
	padding: 10px 0px 0px 10px;
	display: block;
}
.photoshop span, .all-course span {
	font-family: "RobotoRegular";
	font-size: 12px;
	color: #5a6e79;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	display: block;
}
.keep-reading {
	font-family: "OpenSansRegular";
	font-size: 14px;
	color: #252c3a;
	display: block;
	padding: 20px 0px 10px 10px;
	display: block;
}
.keep-reading:hover {
	text-decoration: none;
}
/* Around The University Area End */


/* Footer Part Start */
.footer-part {
	margin-top: 50px;
}
.footer-link-social-part {
	background-color: #252c3a;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-social-description p {
	font-family: "RobotoRegular";
	font-size: 14px;
	line-height: 22px;
	color: #969595;
	padding-top: 20px;
}
.footer-social-description hr {
	border-top: 1px solid #303744;
}
.footer-social-icons a {
	color: #4a4a4a;
	padding-right: 10px;
}

.footer-social-icons a:hover:nth-child(1) {
	color: #52A8E7;
	text-decoration: none;
}
.footer-social-icons a:hover:nth-child(2) {
	color: #0e76a8;
	text-decoration: none;
}
.footer-social-icons a.active:nth-child(3) {
	color: #0089fd;
}
.footer-social-icons a:hover:nth-child(4) {
	color: #00aff0;
	text-decoration: none;
}
.footer-social-icons a:hover:nth-child(5) {
	color: #c8232c;
	text-decoration: none;
}
.footer-social-icons a:hover:nth-child(6) {
	color: #66b447;
	text-decoration: none;
}
.edumodo-link-into h6 {
	font-family: 'RobotoRegular';
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 30px;
}
.edumodo-link-into ul li {
	padding-bottom: 20px;
}
.edumodo-link-into ul li a {
	font-family: "RobotoRegular";
	color: #969595;
	font-size: 14px;
	line-height: 22px;
}
.edumodo-link-into ul li a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.edumodo-link-into p {
	font-family: "RobotoRegular";
	font-size: 14px;
	line-height: 22px;
	color: #969595;
}
.edumodo-link-into .single {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2; }
.edumodo-link-into .single h2 {
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 40px; }
.edumodo-link-into .single .form-control {
	height: 50px;
	background: rgba(255, 255, 255, 0.6);
	border-color: transparent;
	border-radius: 20px 0 0 20px; }
.edumodo-link-into .single .form-control:focus {
	box-shadow: none;
	border-color: #243c4f; }
.edumodo-link-into .single .btn {
	min-height: 50px;
	border-radius: 0 20px 20px 0;
	background: #ffc178;
	color: #fff;
}
.edumodo-link-into .btn.btn-theme {
	font-family: "RobotoRegular";
	font-size: 12px;
	color: #FFF;
	background: #ffc178;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	padding: 9px;
}
::-webkit-input-placeholder { /* Edge */
	font-family: "OpenSansRegular";
	font-size: 12px;
	color: #969595;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: "OpenSansRegular";
	font-size: 12px;
	color: #969595;
}
::placeholder {
	font-family: "OpenSansRegular";
	font-size: 12px;
	color: #969595;
}
.footer-copyright-part {
	background: #1d232e;
	padding: 20px 0px 5px 0px;
}
.footer-copyright-part p {
	font-family: "RobotoRegular";
	font-size: 13px;
	color: #6b6b6b;
}
.footer-right-link-area ul li {
	padding-left: 10px;
}
.footer-right-link-area ul li a {
	font-family: "RobotoRegular";
	font-size: 13px;
	color: #6b6b6b;
}
.footer-right-link-area ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* Footer Part End */






	